<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @product.content %>
</p>

<%= link_to '编辑', edit_product_path(@product) %> |
<%= link_to '返回', products_path %>
