<%= form_for(@agriculture) do |f| %>
  <% if @agriculture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agriculture.errors.count, "error") %> prohibited this agriculture from being saved:</h2>

      <ul>
      <% @agriculture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "标题" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit("创建") %>
  </div>
<% end %>
