<h1>农业信息列表</h1>

<table>
  <thead>
    <tr>
      <th>标题</th>
      <th>内容</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agricultures.each do |agriculture| %>
      <tr>
        <td><%= agriculture.title %></td>
        <td><%= agriculture.content %></td>
        <td><%= link_to 'Show', agriculture %></td>
        <td><%= link_to 'Edit', edit_agriculture_path(agriculture) %></td>
        <td><%= link_to 'Destroy', agriculture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建农业信息', new_agriculture_path %>
