<div class="main-container">
  <h2><strong>农业信息</strong></h2>

  <% @agricultures.each do |agriculture| %>
    <div>
      <h3><%= agriculture.title %></h3>
    </div>
    <div>
      <%= agriculture.content %>
    </div>

    <%= link_to '显示', agriculture %>
    <% if current_user %>
      <%= link_to '编辑', edit_agriculture_path(agriculture) %>
      <%= link_to '删除', agriculture, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>



  <% end %>

  <br>
  <br>
  <% if current_user %>
    <%= link_to '新建农业信息', new_agriculture_path %>
  <% end %>

</div>
