<div class="main-container">
  <p id="notice"><%= notice %></p>

  <p>
  <h3><%= @agriculture.title %></h3>
  </p>

  <p>
    <%= @agriculture.content %>
  </p>
  <% if current_user %>
    <%= link_to '编辑', edit_agriculture_path(@agriculture) %> |
  <% end %>

  <%= link_to '返回', agricultures_path %>
</div>

