<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @agriculture.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @agriculture.content %>
</p>

<%= link_to '编辑', edit_agriculture_path(@agriculture) %> |
<%= link_to '返回', agricultures_path %>
