<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @agriculture.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @agriculture.content %>
</p>

<%= link_to 'Edit', edit_agriculture_path(@agriculture) %> |
<%= link_to 'Back', agricultures_path %>
