<!DOCTYPE html>
<html>
<head>
  <title>智能农业</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="total-wrap">
  <div class="top-background wsite-background wsite-custom-background">
    <div class="cross"></div>
    <div id="header-wrap">
      <div class="main-container">
        <table id="header">
          <tbody><tr>
            <td id="header-right">
              <table>
                <tbody><tr>
                  <td class="phone-number">
                    <span class="wsite-text">
                      <% if current_user %>
                        <%= link_to('退出', destroy_user_session_path, :method => :delete) %> |
                        <%= link_to('修改密码', edit_registration_path(:user)) %>
                      <% else %>
   	                    <%= link_to('注册', new_registration_path(:user)) %> |
                        <%= link_to('登录', new_session_path(:user)) %>
                      <% end %>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody></table>
      </div><!-- end container -->
    </div><!-- end header-wrap -->

    <div id="nav-wrap">
      <div class="main-container header-align-outer">
        <div class="header-align-mid">
          <div class="header-align-inner">
            <div id="logo"><span class="wsite-logo"><a href="/"><span id="wsite-title">智能农业</span></a></span></div>
            <div class="nav-container">
              <ul class="wsite-menu-default">
                <li id="active" class="wsite-nav-0" style="position: relative;">
                  <a href="/" style="position: relative;">Home</a>
                </li>
                <li class="wsite-nav-1" style="position: relative;">
                  <%= link_to "农业信息", agricultures_path %>
                </li>
                <li class="wsite-nav-2" style="position: relative;">
                  <%= link_to "相关政策", policies_path %>
                </li>
                <li class="wsite-nav-3" style="position: relative;">
                  <%= link_to "前沿技术", products_path %>
                </li>
                <li class="wsite-nav-4" style="position: relative;">
                  <%= link_to "产品介绍", products_path %>
                </li>
              </ul>
            </div>
          </div><!-- end header align inner -->
        </div><!-- end header align mid -->
      </div><!-- end container -->
    </div>

  </div>

  <div id="main-banner-wrap">
    <div class="main-container">
      <div id="main-banner">

        <div class="wsite-header"></div>

        <div style="clear:both;"></div>

      </div><!-- end banner -->
    </div><!-- end container -->
  </div><!-- end banner-wrap -->

  <%= yield %>

</body>
</html>
