<div class="container">
  <h2><strong>相关政策</strong></h2>

  <table>
    <thead>
    <tr>
      <th>标题</th>
      <th>内容</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @policies.each do |policy| %>
        <tr>
          <td><%= policy.title %></td>
          <td><%= policy.content %></td>
          <td><%= link_to 'Show', policy %></td>
          <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
          <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '新建相关政策', new_policy_path %>

</div>
