<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @policy.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @policy.content %>
</p>

<%= link_to '编辑', edit_policy_path(@policy) %> |
<%= link_to '返回', policies_path %>
